services:
  hackathon-backend:
    image: ${ECR_REGISTRY}/${ECR_REPO}:latest
    container_name: hackathon-backend
    restart: unless-stopped
    ports:
      - "8082:8080"
    env_file:
      - .env
    networks:
      - hackathon-network
    volumes:
      - ./logs:/app/logs
      - ./files:/app/files
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  hackathon-network:
    driver: bridge

