spring:
    datasource:
        url: ${DATASOURCE_URL}
        username: ${DATASOURCE_USERNAME}
        password: ${DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: false
        properties:
            hibernate:
                format_sql: false
                default_schema: public
                dialect: org.hibernate.dialect.PostgreSQLDialect
        open-in-view: false
    data:
        redis:
            host: ${REDIS_URL:localhost}
            port: ${REDIS_PORT:6379}