spring:
    profiles:
        active: ${SPRING_PROFILES_ACTIVE:dev}
        include: actuator
    application:
        name: hackathon-backend

    jpa:
        open-in-view: false
        properties:
            hibernate:
                default_batch_fetch_size: 100
    sql:
        init:
            mode: never

springdoc:
    api-docs:
        path: /api-docs
    swagger-ui:
        path: /swagger-ui.html
        tags-sorter: alpha
        operations-sorter: alpha
    default-consumes-media-type: application/json
    default-produces-media-type: application/json

jwt:
    secret: ${JWT_SECRET}
    access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}      # 1시간 (milliseconds)
    refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}   # 7일 (milliseconds)

logging:
    level:
        christmas.christmas_backend: INFO
        org.springframework.security: INFO

decorator:
    datasource:
        p6spy:
            enable-logging: true

server:
    port: 8082